@import '@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

@import 'carbon-components/scss/globals/scss/styles.scss';

a {
  color: white;
}

.bx--side-nav__navigation {
  background-image: linear-gradient(-180deg,#0e0c16,#1a1527 88%,#1a1527 99%);
}

a.bx--side-nav__link--current,
a.bx--side-nav__link--current > span.bx--side-nav__link-text {
  
  background-color: gray;
  color: $text-04;
}

.bx--side-nav__item:not(.bx--side-nav__item--active)
  > .bx--side-nav__link:hover {
  background-color: gray;
  color: $text-04;
}

a.bx--side-nav__link > .bx--side-nav__link-text,
.bx--side-nav__item:not(.bx--side-nav__item--active)
  > .bx--side-nav__link:hover
  > span {
  color: white;
}

.bx--side-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms ease;
}

.bx--side-nav__items {
  display: inline-block;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bx--content {
  background: #5918df;
  transform: translate3d(0, 0, 0);
  padding: 0px;
  will-change: margin-left;
}

.bx--btn--primary {
  background-image: linear-gradient(-180deg,#0e0c16,#1a1527 88%,#1a1527 99%);
  border-width: 0px;
  border-style: solid;
  border-color: transparent;
}